body {
    margin: 0;
    display:flex;
    padding:0;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.07em;
}
.header {
    width: 100%;
    background-color: midnightblue;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headertitle {
    font: sans-serif;
}
.headernav {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.headernav > li {
    padding: 5px;
}
.headernav > li > a {
    color: white;
    text-decoration: none;
}
.headernav > li > a:hover {
    text-decoration: underline;
}
.banner {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    flex-direction: column;
    font-size: 1.5em;
    color: white;
}
.descriptors {
    display:flex;
    flex-direction: row;
}
.descriptors > p {
    padding: 10px;
    color: black;
}
.content {
    width: 100%;
    height: 100%;
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content > div {
    margin: 20px;
    background-color: steelblue;
    border-radius: 10px;
}
.aboutme {
    width: 90%;
}
.skills {
    width: 80%;
}
.skills > ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.skills > li {
    padding: 5px;
}
.tophome{
    flex: 3;
    justify-content: space-around;
}
.homecontenttitle {
    width: 100%;
    background-color: slateblue;
    margin-top: 0;
    font: sans-serif;
}
.footer {
    width: 100%;
    background-color: cadetblue;
}

@media (max-width: 600px) {
    .header {
        align-items: center;
        flex-direction:column;
    }
}