{% extends "base.html" %}
{% block content %}
<div class="banner">
    <h1>Csiody Pauley</h1>
    <div class="descriptors">
        <p>Web Developer</p>
        <p>&#8226</p>
        <p>Gamer</p>
        <p>&#8226</p>
        <p>Nerd</p>
    </div>
</div>
<div class="content">
    <div class="aboutme">
        <p>
                Something something web development, python, html, Javascript, SQL
            and all that other good stuff. Hey look a website. Why do the boxes looks
            so wierd? I'm still working on CSS, it's very confusing.
        </p>
    </div>
    <div class="topdeveloperblog">
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
    </div>
    <div class="tophobbyblog">
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
    </div>
    <div class="projects">
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
    </div>
</div>
{% endblock %}