{% extends "base.html" %}
{% block content %}
<div class="banner">
    <h1>Cody Pauley</h1>
    <div class="descriptors">
        <p>Web Developer</p>
        <p>&#8226</p>
        <p>Gamer</p>
        <p>&#8226</p>
        <p>Nerd</p>
    </div>
</div>
<div class="content">
    <div class="aboutme">
        <h2 class="homecontenttitle">About me</h2>
        <p>
                Something something web development, python, html, Javascript, SQL
            and all that other good stuff. Hey look a website. Why do the boxes looks
            so wierd? I'm still working on CSS, it's very confusing.
        </p>
    </div>
    <div class="skills">
        <h2 class="homecontenttitle">Skills</h2>
        <ul>
            <li>Python</li>
            <li>HTML</li>
            <li>SQL</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="topdeveloperblog tophome ">
        <h2 class="homecontenttitle">Programming Blog</h2>
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
    </div>
    <div class="tophobbyblog tophome">
        <h2 class="homecontenttitle">Hobby Blog</h2>
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
    </div>
    <div class="projects tophome">
        <h2 class="homecontenttitle">Projects</h2>
        <ul>
            {$ for 
        </ul>
    </div>
</div>
{% endblock %}